* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

/* Nav Section */
nav {
  height: 80px;
  display: flex;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.logo {
  width: 160px;
}

.nav__link {
  margin-left: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #7432d6;
  padding: 8px;
}

.nav__link--primary {
  border: 2px solid #7432d6;
  border-radius: 4px;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

/* Header Section */

header {
  height: calc(100vh - 70px);
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple {
  color: #7342d6;
}

h1 {
  color: #7342d6;
  font-size: 56px;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}
